In [2]:
import matplotlib.pyplot
import pandas
import scipy.stats
import numpy as np

In [3]:
# lecture du csv et affichage
prenoms = pandas.read_csv("Prénoms/nat2019.csv", header = 0, sep = ";")
prenoms

        sexe        preusuel annais  nombre
0          1  _PRENOMS_RARES   1900    1250
1          1  _PRENOMS_RARES   1901    1340
2          1  _PRENOMS_RARES   1902    1329
3          1  _PRENOMS_RARES   1903    1285
4          1  _PRENOMS_RARES   1904    1427
...      ...             ...    ...     ...
652051     2           ZYNEB   2016       6
652052     2           ZYNEB   2017       6
652053     2           ZYNEB   2018       5
652054     2           ZYNEB   2019       7
652055     2           ZYNEB   XXXX      19

[652056 rows x 4 columns]

In [ ]:
# Note : 1 = homme, 2 = femme. test

In [4]:
def search(name, year):
    result = [0,0]
    for i in range(652056):
        if prenoms['preusuel'][i] == name:
            if prenoms['annais'][i] == year:
                result[prenoms['sexe'][i] - 1] = prenoms['nombre'][i]
    return result

research = 'KEVIN', '1999'

result = search(research[0], research[1])

print("Il y a eu " + str(result[0]) + " garçon(s) nommé(s) " + research[0] + " en " + research[1] + ".")
print("Il y a eu " + str(result[1]) + " fille(s) nommée(s) " + research[0] + " en " + research[1] + ".")

Il y a eu 4117 garçon(s) nommé(s) KEVIN en 1999.
Il y a eu 0 fille(s) nommée(s) KEVIN en 1999.

In [6]:
prenoms = prenoms.replace('XXXX', '2050')

isMatthieu = prenoms['preusuel']=='MATTHIEU'
allMatthieu = prenoms[isMatthieu]


allMatthieu['annais'] = allMatthieu['annais'].astype(int)


allMatthieu.groupeby('annais').hist()

<ipython-input-6-c9baa73d5486>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allMatthieu['annais'] = allMatthieu['annais'].astype(int)

AttributeError: 'Series' object has no attribute 'groupeby'