In [1]:
import matplotlib.pyplot
import pandas
import scipy.stats
import numpy as np

In [25]:
# lecture du csv et affichage
prenoms = pandas.read_csv("Pr√©noms/nat2019.csv", header = 0, sep = ";")
prenoms.describe()

                sexe         nombre
count  652056.000000  652056.000000
mean        1.544176     131.704768
std         0.498045     893.998555
min         1.000000       1.000000
25%         1.000000       4.000000
50%         2.000000       8.000000
75%         2.000000      25.000000
max         2.000000   53624.000000

In [ ]:
# Note : 1 = homme, 2 = femme.

In [24]:
recherche = 'PHILEMON', '2000'
for i in range(652056):
    if prenoms['preusuel'][i] == recherche[0]:
        if prenoms['annais'][i] == recherche[1]:
            print("Il y a eu " + str(prenoms['nombre'][i]) + " " + recherche[0] + " en " + recherche[1] + ".")

Il y a eu 21 PHILEMON en 2000.